<!DOCTYPE html>
<html lang="en-US" ng-app="contactApp">
	<head>
		<meta chartset="UTF-8">
		<title>Angular Contacts App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Declare the Angular.min.js for Angular Javascript based Framework -->
		<script src="lib/angular/angular.min.js"></script>

		<!-- Declare the Angular Route for Routing Purposes -->
		<script src="lib/angular/angular-route.min.js"></script>

		<!-- Declare the Controllers here -->
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>

		<!-- Declare the w3.css file for W3 CSS Framework -->
		<link href="lib/w3/w3.css" rel="stylesheet">

		<!-- Declare the style.css for Custom Styles -->
		<link href="public/css/style.css" rel="stylesheet">

	</head>

	<body>
		<div class="w3-container w3-section">
			<div class="w3-row-padding w3-content w3-black">
				<div class="w3-col m12">
				<h1 class="w3-jumbo w3-center">Angular Contacts Application</h1>
				</div>
			</div>
		</div>
		<div class="w3-container w3-section w3-center">
			<div class="w3-row w3-content w3-dark-grey">
				<div class="w3-col m12 search">
					<form class="w3-container">
						<h1 class="w3-large">Contacts Directory</h1>
						<input class="w3-input w3-center" placeholder="Search for a contact..." ng-model="query" autofocus>
						<div class="w3-half">
							<label>
								By:
								<select ng-model="orderContacts" class="w3-select w3-border select">
									<option value="name.first">First Name</option>
									<option value="name.last">Last Name</option>
								</select>
							</label>
							<input class="w3-radio" type="radio" ng-model="direction" name="direction" checked><label class="w3-validate">Ascending</label>
							<input class="w3-radio" type="radio" ng-model="direction" name="direction" value="reverse"><label class="w3-validate">Descending</label>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="w3-container" ng-view>
		</div>
	</body>
</html>